{% extends "layout.html" %}

{% block title %}About{% endblock %}
<div class="bg-light text-dark"></div>
{% block content %}


<h1 class="container m-6 ">{{ username }}</h1>

  {% for post in posts %}

  <div class="card mt-3 bg-light border-25 m-5 ">
    <div class="card-body">
      <div class="row">
        
        <div class="col-10">
          <h5 class="card-title">{{ username }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.date_posted.strftime('%B %d, %Y at %I:%M %p') }}</h6>
        </div>
      </div>
      
      <p class="card-text">{{ post.content }}</p>
    </div>
  </div>
  <hr>


 
  {% endfor %}
  {% endblock %}
</div>
